{% extends 'base.html.twig' %}

{% block title %}Prd{% endblock %}

{% block body %}
    <h1>Prd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prd.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ prd.prix }}</td>
            </tr>
            <tr>
                <th>Lib</th>
                <td>{{ prd.lib }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prd_index') }}">back to list</a>

    <a href="{{ path('app_prd_edit', {'id': prd.id}) }}">edit</a>

    {{ include('prd/_delete_form.html.twig') }}
{% endblock %}
